@import url("./../../App.css");

.inventory {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
}

.inventoryCards {
  display: grid;
  position: relative;
  border-radius: 25px;
  outline: 2px solid orange;
}

.inventoryCards > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.inventoryCards p:first-child {
  position: absolute;
  color: #fff;
  bottom: 0px;
  left: 0px;
}

.inventory img {
  z-index: -1;
  width: 100%;
  object-fit: cover;
}
