@import url('./../../App.css');

.footer {
    position: fixed;
    inset: auto 0 0 0;
    z-index: 2;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: var(--color6);
    box-shadow: var(--shadow1);

    display: flex;
    justify-content: space-evenly;
}

svg {
    fill: #222;
}